
@{
    ViewBag.Title = "Home";
}

<div class="tm-paging-links">
    <nav>
        <ul>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link active">5.56x45mm NATO</a></li>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link">7.62x39</a></li>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link">5.45x39mm</a></li>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link">7.62x51mm NATO</a></li>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link">7.62x54mmR</a></li>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link">9x19mm Para</a></li>
        </ul>
    </nav>


    <div class="row tm-gallery">
        <!-- gallery page 1 -->
        <div id="tm-gallery-page-pizza" class="tm-gallery-page">
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="~/Content/img/gallery/05.jpg" alt="M995 Round" class="img-fluid tm-gallery-img" />
                    <figcaption>
                        <h4 class="tm-gallery-title">M995</h4>
                        <p class="tm-gallery-description">KING OF BULLETS, EXPENSIVE AS ALL HELL</p>
                        <p class="tm-gallery-price">1100 per round</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="~/Content/img/gallery/06.jpg" alt="m855a1 Round" class="img-fluid tm-gallery-img" />
                    <figcaption>
                        <h4 class="tm-gallery-title">M855A1</h4>
                        <p class="tm-gallery-description">A LITTLE LESS AP THAN THE M995, CHEAPER THOUGH</p>
                        <p class="tm-gallery-price">900 per round</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="~/Content/img/gallery/07.jpg" alt="M855" class="img-fluid tm-gallery-img" />
                    <figcaption>
                        <h4 class="tm-gallery-title">M855</h4>
                        <p class="tm-gallery-description">Retains some AP while significantly increasing flesh damage</p>
                        <p class="tm-gallery-price">650 per round</p>
                    </figcaption>
                </figure>
            </article>
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="~/Content/img/gallery/08.jpg" alt="m856A1" class="img-fluid tm-gallery-img" />
                    <figcaption>
                        <h4 class="tm-gallery-title">M856A1</h4>
                        <p class="tm-gallery-description">LOWER END OF THE SPECTRUM, STILL GETS THE JOB DONE..</p>
                        <p class="tm-gallery-price">450 per round</p>
                    </figcaption>
                </figure>
            </article>
        </div> <!-- gallery page 1 -->
        <!-- gallery page 2 -->
        @*<div id="tm-gallery-page-salad" class="tm-gallery-page hidden">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Salad Menu One</h4>
                                <p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p>
                                <p class="tm-gallery-price">$25</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Second Title Salad</h4>
                                <p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p>
                                <p class="tm-gallery-price">$30</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Third Salad Item</h4>
                                <p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p>
                                <p class="tm-gallery-price">$45</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Superior Salad</h4>
                                <p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p>
                                <p class="tm-gallery-price">$50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Sed ultricies dui</h4>
                                <p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p>
                                <p class="tm-gallery-price">$55 / $60</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Maecenas eget justo</h4>
                                <p class="tm-gallery-description">Proin eu velit egestas, viverra sapien eget, consequat nunc. Vestibulum tristique</p>
                                <p class="tm-gallery-price">$75</p>
                            </figcaption>
                        </figure>
                    </article>
                </div> <!-- gallery page 2 -->
                <!-- gallery page 3 -->
                <div id="tm-gallery-page-pizza" class="tm-gallery-page">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/01.jpg" alt="7N39 Round" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">7N39</h4>
                                <p class="tm-gallery-description">Your best chance to pierce lvl 4 armor and above</p>
                                <p class="tm-gallery-price">900 per round</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/02.jpg" alt="BS Round" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">BS</h4>
                                <p class="tm-gallery-description">Less AP, more flesh damage, great for lvl 3 armore and above</p>
                                <p class="tm-gallery-price">750 per round</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">BP</h4>
                                <p class="tm-gallery-description">Retains some AP while significantly increasing flesh damage</p>
                                <p class="tm-gallery-price">650 per round</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">BT 'Tracer'</h4>
                                <p class="tm-gallery-description">When your buddies dont have a clue where to shoot, tracers!</p>
                                <p class="tm-gallery-price">450 per round</p>
                            </figcaption>
                        </figure>
                    </article>

                </div> <!-- gallery page 3 -->

                <div id="tm-gallery-page-noodle" class="tm-gallery-page hidden">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Noodle One</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$12.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Noodle Second</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$15.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Third Soft Noodle</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$20.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$30.25</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Maecenas eget justo</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$35.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Quisque et felis eros</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$40.50</p>
                            </figcaption>
                        </figure>
                    </article>

                </div> <!-- gallery page 4 -->

                <div id="tm-gallery-page-noodle" class="tm-gallery-page hidden">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Noodle One</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$12.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Noodle Second</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$15.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Third Soft Noodle</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$20.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$30.25</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Maecenas eget justo</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$35.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Quisque et felis eros</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$40.50</p>
                            </figcaption>
                        </figure>
                    </article>

                </div> <!-- gallery page 5 -->

                <div id="tm-gallery-page-noodle" class="tm-gallery-page hidden">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Noodle One</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$12.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Noodle Second</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$15.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Third Soft Noodle</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$20.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$30.25</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Maecenas eget justo</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$35.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Quisque et felis eros</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$40.50</p>
                            </figcaption>
                        </figure>
                    </article>

                </div> <!-- gallery page 3 -->


                <div id="tm-gallery-page-noodle" class="tm-gallery-page hidden">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Noodle One</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$12.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Noodle Second</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$15.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Third Soft Noodle</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$20.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$30.25</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Maecenas eget justo</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$35.50</p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/Content/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Quisque et felis eros</h4>
                                <p class="tm-gallery-description">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <p class="tm-gallery-price">$40.50</p>
                            </figcaption>
                        </figure>
                    </article>

                </div> <!-- gallery page 6 -->


            </div>*@

    </div>

    <div class="btm">
        <div class="tm-section tm-container-inner">
            <div class="row">
                <div class="col-md-6">
                    <figure class="tm-description-figure">
                        <img src="~/Content/img/img-01.jpg" alt="USEC anime" class="img-fluid mt" />
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="tm-description-box">
                        <h4 class="tm-gallery-title">I don't do weapons</h4>
                        <p class="tm-mb-45">Read THE SIGN SCAV, ONLY AMMO IS SOLD HERE. MAYBE ASK RESHALA OR SANITAR AND THEIR BOYS IF YOURE IN THE MARKET FOR A BOOM-STICK</p>
                        <a href="about.html" class="tm-btn tm-btn-default @*tm-right*@">Boom-Stick Suggestions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>